<article>
    <section>
        <div class="container" id="about">
            <h1><span class="title">{{'titleAbout' | translate}}</span></h1>
            <div class="row">
                <div id="info" class="col-md-6 col-sm-12">
                    <p>
                        {{'about1' | translate}} <span class="name"><i>Cesar Reis</i></span>, {{'about2' | translate}}
                    </p>
                    <p>
                        {{'about3' | translate}}
                    </p>
                    <p>
                        {{"about4" | translate}}
                    </p>
                    <br>
                    <span class="message"><i>{{'about5' | translate}}</i></span><br>
                    <a href="../../../assets/Curriculo_CesarReis.pdf" download class="btn btn-outline-info curriculum">
                        <b>{{"curriculum" | translate}} <i class="fa fa-download" aria-hidden="true"></i></b>
                    </a>
                </div>

                <div id="dev" class="col-md-6 col-sm-12">
                    <img src="../../../assets/DevAtual-pb.jpg" alt="Cesar Reis - Desenvolvedor"><br>
                    <span id="subdev"><i><b>Cesar Reis - {{"profession2" | translate}}</b></i></span>
                </div>
            </div>
        </div>
    </section>
</article>