article{
    margin-top: -7px;
    background-image: linear-gradient(black, #151515);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    user-select: none;
}
#about{
    text-align: center;
    padding-top: 6rem;
}
.name{
    color: #f20ff6;
}
.title{
    color: #1480c4;
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    text-shadow:
        0 0 7px #1480c4,
        0 0 10px #1480c4,
        0 0 21px #1480c4,
        0 0 42px #1480c4,
        0 0 82px #1480c4,
        0 0 92px #1480c4,
        0 0 102px #1480c4,
        0 0 151px #1480c4;
    
}

.message{
    color: #1480c4;
}
/*Screen small*/
@media (max-width: 750px){ 
    #info{
        text-align: justify;
        margin-top: 2rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }
    #dev img{
        border-radius: 10px;
        margin-top: 2.3rem;
        height: 50%;
        width: 50%;
        position:relative;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.44);
    }
}
/*Screen Medium*/
@media (min-width: 751px) and (max-width: 989px){
    #info{
        text-align: start;
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: bolder;
    }
    #dev img{
        margin-top: 2.3rem;
        height: 80%;
        width: 90%;
        position:relative;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.44);
    }

}
/*Screen Large*/
@media (min-width: 990px){
    article{
        height: 100vh;
    }
    #info{
        text-align: start;
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: bolder;
    }
    #dev img{
        margin-top: 2.3rem;
        height: 80%;
        width: 60%;
        position:relative;
        border-radius: 10px;
    }
}
img:hover{
    top:-5px;box-shadow:0 5px 5px #f20ff6;
    transition: all .2s ease-in-out
}
#subdev{
    font-size: small;
}
.curriculum{
    margin-top: 1rem;
}
