<article>
    <section>
        <div class="container">
            <div id="align">
                <h1 class="title">PROJECTS</h1>
                <div class="row row1 justify-content-around">
                    <div class="col-lg-3 col-md-11 col-sm-12">
                        <div class="body_card">
                            <img class="image" src="../../../assets/AppGestao.png" alt="AppGestao" />
                            <div class="presentation">
                                <h4 id="titleCard">App Management</h4>
                                <p id="contCard">Web application for managing expenses and costs.
                                    App made through Udemy's course.</p><br>
                                <p><span class="technology"><i><b>With: HTML, CSS and JavaScript</b></i></span></p>
                                <div>
                                    <a class="btn btn-md btn-outline-info"
                                        href="https://financeiro.glitch.me/AppOr%C3%A7amentoPessoal.html"
                                        target="_blank">
                                        <b>VIEW</b> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12">
                        <div class="body_card">
                            <img class="image" src="../../../assets/MataMosquito.png" alt="Game Mosquito killer" />
                            <div class="presentation">
                                <h4 id="titleCard">Mosquito-Killer Game</h4>
                                <p id="contCard">Mosquito-killing game, where the objective is to kill the mosquito
                                    before the necessary
                                    time runs out. Project developed through Udemy.</p>
                                <p><span class="technology"><i><b>With: HTML, CSS and JavaScript</b></i></span></p>
                                <a class="btn btn-md btn-outline-info" href="https://gamematamosquito.glitch.me/"
                                    target="_blank">
                                    <b>VIEW</b>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12">
                        <div class="body_card">
                            <img class="image" src="../../../assets/CopySpotify.png" alt="Spotify Copy" />
                            <div class="presentation">
                                <h4 id="titleCard">Spotify Copy</h4>
                                <p id="contCard">Static copy of the spotify website, made during the Udemy course.
                                    Performed only the front-end.</p><br>
                                <p><span class="technology"><i><b>With: HTML, CSS and Bootstrap</b></i></span></p>
                                <a class="btn btn-md btn-outline-info"
                                    href="https://copia-spotify.glitch.me/projeto8Spotfy.html"
                                    target="_blank"><b>VIEW</b></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row2 justify-content-around">
                    <div class="col-lg-3 col-md-11 col-sm-12">
                        <div class="body_card">
                            <img class="image" src="../../../assets/museu.png" alt="Nation Museum" />
                            <div class="presentation">
                                <h4 id="titleCard">National Museum</h4>
                                <p id="contCard">Project carried out by the Udemy platform. Fully static.</p><br>
                                <p><span class="technology"><i><b>With: HTML and CSS</b></i></span></p><br>
                                <a class="btn btn-md btn-outline-info" href="https://museu.glitch.me/projeto6.html"
                                    target="_blank"><b>VIEW</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12">
                        <div class="body_card">
                            <img class="image" src="../../../assets/pacoteViagens.png" alt="travel" />
                            <div class="presentation">
                                <h4 id="titleCard">App Travel</h4>
                                <p id="contCard">Totally static travel application, made during the Web Software
                                    Development technical course.</p>
                                <p><span class="technology"><i><b>With: HTML, CSS, JavaScript and
                                                Bootstrap</b></i></span></p>
                                <a class="btn btn-md btn-outline-info" href="https://pacoteviagens.glitch.me/"
                                    target="_blank"><b>VIEW</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12">
                        <div class="body_card">
                            <img class="image" src="../../../assets/AppIonic.jpeg" alt="App NutreLanche" />
                            <div class="presentation">
                                <h4 id="titleCard">Application NutreLanche</h4>
                                <p id="contCard">Mobile application developed for one of the schools of the SENAI
                                    institution, as a way to show my knowledge.</p>
                                <p><span class="technology"><i><b>With: HTML, CSS, JavaScript, Ionic and
                                                Bootstrap</b></i></span></p>
                                <button class="btn btn-md btn-outline-info" disabled
                                    href="https://copia-spotify.glitch.me/projeto8Spotfy.html" target="_blank">
                                    <b>VIEW</b>
                                    <i class="fa fa-lock"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" class="more">
                    <a href="https://github.com/cesar903" target="_blank" class="more"><i> LEARN MORE AT GITHUB...</i><i class="fa fa-github-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
</article>