<article>
    <section>
        <div class="container">
            <div id="align">
                <h1 class="title">{{'titleProjects' | translate}}</h1>
                <div class="row row1 justify-content-center">
                    <div class="col-lg-3 col-md-11 col-sm-12 m-1">
                        <div class="body_card">
                            <img class="image" src="../../../assets/AppGestao.png" alt="AppGestao" />
                            <div class="presentation">
                                <h4 id="titleCard">{{'titleAppManagement' | translate}}</h4>
                                <p id="contCard">{{'textAppManageent' | translate}}</p><br>
                                <p><span class="technology"><i><b>{{'tecnologyAppManagement' |
                                                translate}}</b></i></span></p>
                                <div>
                                    <a class="btn btn-md btn-outline-info"
                                        href="https://financeiro.glitch.me/AppOr%C3%A7amentoPessoal.html"
                                        target="_blank">
                                        <b>{{'view' | translate}}</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12  m-1">
                        <div class="body_card ">
                            <img class="image" src="../../../assets/MataMosquito.png" alt="Game Mosquito killer" />
                            <div class="presentation">
                                <h4 id="titleCard">{{'titleKillerMosquito' | translate}}</h4>
                                <p id="contCard">{{'textKillerMosquito' | translate}}</p>
                                <p><span class="technology"><i><b>{{'tecnologyKillerMosquito' |
                                                translate}}</b></i></span></p>
                                <a class="btn btn-md btn-outline-info" href="https://gamematamosquito.glitch.me/"
                                    target="_blank">
                                    <b>{{'view' | translate}}</b>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12  m-1">
                        <div class="body_card">
                            <img class="image" src="../../../assets/CopySpotify.png" alt="Spotify Copy" />
                            <div class="presentation">
                                <h4 id="titleCard">{{'titleSpotifyCopy' | translate}}</h4>
                                <p id="contCard">{{'textSpotifyCopy' | translate}}</p><br>
                                <p><span class="technology"><i><b>{{'tecnologySpotifyCopy' |
                                                translate}}</b></i></span>
                                </p>
                                <a class="btn btn-md btn-outline-info"
                                    href="https://copia-spotify.glitch.me/projeto8Spotfy.html"
                                    target="_blank"><b>{{'view' | translate}}</b></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row2 justify-content-center">
                    <div class="col-lg-3 col-md-11 col-sm-12  m-1">
                        <div class="body_card ">
                            <img class="image" src="../../../assets/museu.png" alt="Nation Museum" />
                            <div class="presentation">
                                <h4 id="titleCard">{{'titleNationalMuseum' | translate}}</h4>
                                <p id="contCard">{{'textNationalMuseum' | translate}}</p>
                                <p><span class="technology"><i><b>{{'tecnologyNationalMuseum' |
                                                translate}}</b></i></span></p><br>
                                <a class="btn btn-md btn-outline-info" href="https://museu.glitch.me/projeto6.html"
                                    target="_blank"><b>{{'view' | translate}}</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12  m-1">
                        <div class="body_card">
                            <img class="image" src="../../../assets/pacoteViagens.png" alt="travel" />
                            <div class="presentation">
                                <h4 id="titleCard">{{'titleAppTravel' | translate}}</h4>
                                <p id="contCard">{{'textAppTravel' | translate}}</p>
                                <p><span class="technology"><i><b>{{'tecnologyAppTravel' |
                                                translate}}</b></i></span>
                                </p>
                                <a class="btn btn-md btn-outline-info" href="https://pacoteviagens.glitch.me/"
                                    target="_blank"><b>{{'view' | translate}}</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-11 col-sm-12  m-1">
                        <div class="body_card">
                            <img class="image" src="../../../assets/AppIonic.jpeg" alt="App NutreLanche" />
                            <div class="presentation">
                                <h4 id="titleCard">{{'titleAppNutreLanche' | translate}}</h4>
                                <p id="contCard">{{'textAppNutreLanche' | translate}}</p>
                                <p><span class="technology"><i><b>{{'tecnologyAppNutreLanche' |
                                                translate}}</b></i></span></p>
                                <button class="btn btn-md btn-outline-info" disabled
                                    href="https://copia-spotify.glitch.me/projeto8Spotfy.html" target="_blank">
                                    <b>{{'view' | translate}} </b><i class="fa fa-lock"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" class="more">
                    <a href="https://github.com/cesar903" target="_blank" class="more"><i>{{'more' | translate}}</i><i
                            class="fa fa-github-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
</article>