article {
    background-color: #151515;
    width: 100%;
    padding-top: 6rem;
    margin-top: -6px;
    user-select: none;
}

.title {
    color: #1480c4;
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 4rem;
    text-shadow:
        0 0 7px #1480c4,
        0 0 10px #1480c4,
        0 0 21px #1480c4,
        0 0 42px #1480c4,
        0 0 82px #1480c4,
        0 0 92px #1480c4,
        0 0 102px #1480c4,
        0 0 151px #1480c4;
}

#align {
    text-align: center;
}

.image {
    width: 100%;
    height: 10rem;
    border-radius: 5px;
}

.body_card:hover {
    top: -50px;
    box-shadow: 4px 4px 4px 4px #1480c4;
    transition: all .2s ease-in-out
}

.presentation {
    margin-top: 1rem;
    padding: 8px;
}

.btn {
    margin-top: 1rem;
    width: 50%;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.technology {
    color: #1480c4;
}

/*Scren small*/
@media (max-width: 991px) {
    .body_card {
        border-radius: 5px;
        color: rgb(202, 202, 202);
        text-align: start;
        margin-bottom: 6rem;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    }
}

/*Screen Large*/
@media (min-width: 992px) {
    .row2 {
        margin-top: 6rem;
    }

    .body_card {
        border-radius: 5px;
        color: rgb(202, 202, 202);
        text-align: start;
        height: 100%;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.44);
    }

    .more {
        text-decoration: none;
        color: #1480c4;
        margin-top: 2rem;
    }
}

.more:hover {
    color: #f20ff6;
}