.overlay {
    display: inline-block;
    position: relative;
    height: 90vh;
    width: 100%;
    background: url("../../../assets/back.gif") no-repeat fixed;
    background-size: cover;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#traparent {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    display: inline-block;
}

/*Animation*/
@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    50% {
        width: 0;
    }

    100% {
        width: 100;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

/*Screen Small*/
@media (max-width: 750px) {

    #content {
        margin-top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    #developer {
        color: white;
        width: 80%;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        margin: auto;

    }

    .subdev {
        font-size: 2rem;
        font-weight: bolder;
        line-height: 0.8;
    }

    #name {
        color: #56defd;
        font-size: 5rem;
        width: 100%;
        line-height: 0.8;


    }

    #traparent {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.474), rgb(0, 0, 0));
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 50;
        display: inline-block;
    }
}

/*Screen Large*/
@media (min-width: 751px) {
    .overlay {
        margin-top: 0rem;
    }

    #content {
        margin-top: 1rem;
        margin-left: 9rem;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    #developer {
        color: white;
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }

    .subdev {
        font-size: 3rem;
        font-weight: bolder;
        line-height: 0.7;
    }

    #name {
        color: #56defd;
        font-size: 6rem;
        width: 100%;
        line-height: 0.7;
    }
}

.bar {
    animation: blink 1s infinite;
}

a {
    margin-top: 1rem;
}

.btn2 {
    margin-left: 1rem;
    color: #f20ff6;
    border: #f20ff6 solid 1px;
}

.btn2:hover {
    background-color: #f20ff6;
    color: black;
}

@media (max-width: 396px) {
    .btn1 {
        margin-right: 1rem;
    }

    .btn2 {
        margin-left: 0;
    }
}

.arrow-bottom {
    text-align: center;
    width: 100%;    
    height: 10vh;
    color: azure;
    font-size: 1.5rem;
}

.back {
    height: 90vh;
}

.btn {
    transition: 500ms linear;
}

.btn:hover {
    transition: 500ms linear;
}