<article>
    <section>
        <div class="overlay">
            <div id="traparent">
                <div id="content" class="container back align-items-center">
                    <div id="developer">
                        <h1>
                            <span class="subdev">{{'IAM' | translate}}</span><br>
                            <span id="name">CESAR REIS<span class="bar">|</span></span><br>
                            <span class="subdev">{{'profession' | translate}}</span>
                        </h1>
                        <a href="https://www.linkedin.com/in/c%C3%A9sar-augusto-b07064187/" target="_blank"
                            class="btn btn1 btn-lg btn-outline-info">
                            <b>LINKEDIN <i class="fa fa-linkedin-square" aria-hidden="true"></i></b>
                        </a>
                        <a href="https://github.com/cesar903" target="_blank" class="btn btn2 btn-lg btn-outline-info">
                            <b>GITHUB <i class="fa fa-github-square" aria-hidden="true"></i></b>
                        </a>
                    </div>
                </div>
                <a href="#about">
                    <div class="arrow-bottom bar">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </div>
                </a>
            </div>

        </div>
    </section>
</article>