<article>
    <section>
        <div class="container" id="about">
            <h1><span class="title">ABOUT ME</span></h1>
            <div class="row">
                <div id="info" class="col-md-6 col-sm-12">
                    <p>
                        Hello! My name is <span class="name"><i>Cesar Reis</i></span>, i am from São Paulo/Brasil,
                        and I am Founder and CEO of DevCesar.
                        A fan of technology, I started in the programming area from scratch, always
                        aiming for professional and personal growth as a whole.
                    </p>
                    <p>
                        I am graduated in Electrician Installation, area in which I worked for a period,
                        but having my heart always in programming, I studied Technician in WEB Development
                        FullStack, course in which I acquired knowledge to further leverage my career.
                    </p>
                    <p>
                        I worked as a JR Programmer in 2022, where I made some systems with React, being the
                        heart of the company the PLC. I decided to pursue my own career in technology, with
                        some personal and freelance projects.
                    </p>
                    <br>
                    <span class="message"><i>- What are you waiting for to make your dream come true? </i></span><br>
                    <a href="../../../assets/Curriculo_CesarReis.pdf" download class="btn btn-outline-info curriculum">
                        <b>CURRICULUM <i class="fa fa-download" aria-hidden="true"></i></b>
                    </a>
                </div>
                <div id="dev" class="col-md-6 col-sm-12">
                    <img src="../../../assets/DevAtual-pb.jpeg" alt=""><br>
                    <span id="subdev"><i><b>Cesar Reis - Web Developer</b></i></span>
                </div>
                
            </div>
        </div>
    </section>
</article>