<header class="fixed-top">
  <div id="logo"><a href="#home"><img src="../../../assets/DevCesar.png" alt=""></a></div>
  <div id="links" class="navbar">
    <a href="#abaut">{{'menuAbout' | translate}}</a>
    <a href="#projects">{{'menuProjects' | translate}}</a>
    <a href="#contacts">{{'menuContacts' | translate}}</a>
  </div>
</header>
<app-article id="home"></app-article>
<app-about id="abaut"></app-about>
<app-projects id="projects"></app-projects>
<app-contacts id="contacts"></app-contacts>
<app-footer></app-footer>